<footer >
    
    <div >
        <div >
            <img class="imageroda" src="res/site/img/logo - Copia.jpg">
        </div>
    
        <div class="bloco_footer">
            <div class="mapa_footer" data-map="true" data-type="map" data-mapa="Avenida Papa João Paulo I, 3970 - JD. Presidente Dutra - Guarulhos"><iframe  src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d457.61949237732546!2d-46.429980702085196!3d-23.42595875278731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d-23.4259231!2d-46.4297393!5e0!3m2!1spt-BR!2sbr!4v1589923685686!5m2!1spt-BR!2sbr"></iframe></div>
        
            <div class="texto_contatos_footer">
                <span>KLEVERSON</span>(11) 98835-8997<br>
                <span>DANIEL</span>(11) 95150-6426<br>
                <span>(11)2937-2688 / (11) 98835-8997<br>
                <span>Avenida Papa João Paulo I, 3970 - JD. Presidente Dutra - Guarulhos</span>
            </div>
        </div>
    </div>
    
    
    </footer>